<div class=" table-grid">

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th scope="col">Total Points Possible</th>
        <th scope="col">Total Points Received</th>
        <th scope="col">Total Percentage</th>
        <th scope="col">Final Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{data.fullName}}</td>
        <td>{{data.pointPossible}}</td>
        <td>{{data.points}}</td>
        <td>{{data.percentage}}</td>
        <td>{{data.grade}}</td>
      </tr>
    </tbody>
  </table>
</div>
